<small>以下的评论框由commitit提供，支持markdown，不支持html。如果没有FB或推特账号的话，需要注册一个GitHub帐号来评论。GitHub并不是酒吧的名字，是程序员托管代码爱用的网站，注册不复杂，也较少被墙～</small>
<noscript>Please enable JavaScript to view the comment form powered by <a href="https://commentit.io/">Comm(ent|it)</a></noscript>
	<div id="commentit"></div>
	<script type="text/javascript">
		/** CONFIGURATION VARIABLES **/
		var commentitUsername = 'xlhdh';
		var commentitRepo = 'xlhdh/xlhdh.github.io';
		var commentitPath = '{{ page.path }}';

		/** DON'T EDIT FOLLOWING LINES **/
		(function() {
			var commentit = document.createElement('script');
			commentit.type = 'text/javascript';
			commentit.async = true;
			commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
		})();
	</script>